@model Blog.Models.ViewModels.CreatePostViewModel
@{
	ViewData["Title"] = "AddNewPost";
	Layout = "_AdminLayout";
}
<div class="create-title-box">
	<h1 calss="create-title">Add a new post</h1>
</div>

<div class="create-form-body">
<form asp-action="Create">

		<label asp-for="Title" class="control-label"></label>
		<input asp-for="Title" class="form-control" />

		<label asp-for="Content" class="control-label"></label>
		<textarea asp-for="Content" class="form-control-content" rows="5"></textarea>


		<label asp-for="Slug" class="control-label"></label>
		<input asp-for="Slug" class="form-control"/>


		<label asp-for="CategoryId" class="control-label"></label>
			<select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model?.Categories, "Id", "Name"))">
				<option value="">-- Select Category --</option>
		</select>

			<label asp-for="IsPublic" class="control-label"></label>
			<input type="checkbox" asp-for="IsPublic" class="public-checkbox"/><br />

		<input type="submit" value="Create" class="create-button"/>

</form>
</div>